@import "./variables.scss";

@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
//
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
//
// @import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

body {
  background: $white;
  color: $darkblue;
  margin: 0;
  font-family: "Roboto";
  /* font-size: 1.5em; */
}
.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: $blackblue;

  .nav-content {
    max-width: 1200px;
    margin: 0 auto 0;
    color: red;
    display: flex;
    align-items: center;
    padding: 0.5rem 0 0.2rem 0;
    justify-content: space-between;

    .navlogo {
      margin-left: 1rem;
      img {
        width: 130px;
        cursor: pointer;
      }
    }

    a {
      color: $lightgrey;
      padding-right: 2rem;
      text-decoration: none;
    }
  }
}

header {
  background-color: $blackblue;
  text-align: center;
  margin-bottom: 2rem;
  padding: 0.6rem 0 4rem 0;
  // padding: 2rem 0;
  background-image: url("../public/web.jpg");
}
header a {
  text-decoration: none;
  color: $darkblue;
  text-transform: uppercase;
  display: inline-block;
}
header h1,
header h2 {
  margin: 0;
}
header span {
  color: $lightgrey;
  display: block;
  line-height: 1em;
  text-shadow: 0px 3px 2px $blackblue;
}
header span:first-child {
  font-size: 0.8em;
  letter-spacing: 0.3em;
  font-weight: 400;
}
header span:last-child {
  font-size: 1.5em;
  letter-spacing: 0.1em;
  font-weight: 800;
}
header h2 {
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 0.3em;
  color: rgba($color: $lightgrey, $alpha: 0.5);
}

footer {
  background: $blackblue;
  color: $lightgrey;
  padding: 10px;
  text-align: center;
  margin-top: auto;
}
.page-content {
  max-width: 1200px;
  margin: 20px auto 80px;
  // padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}

.card {
  text-align: center;
  .featured {
    width: 95%;
    margin: 0 auto 0 auto;

    @media only screen and (max-width: 1136px) {
      max-width: 100%;
    }
    @media only screen and (max-width: 360px) {
      max-width: 92%;
    }
  }
}

.postGrid {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 50%;
  justify-content: center;
}

// the post card
.content {
  background-color: $lightgrey;
  max-width: 600px;
  margin: 0 0.9rem 0 0.9rem;
}
.info {
  font-size: 1.5rem;

  h4 {
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 0.8rem;
  }
}
.actions {
  margin-bottom: 2rem;
  margin-top: 0.5rem;
  padding-bottom: 1.2rem;
}

.title404 {
  text-align: center;
  font-size: 2rem;
}

.a404 {
  text-decoration: none;
  width: 4.5rem;
  margin: auto;
  display: block;
  padding: 0.6rem 0.8rem;
  color: $blackblue;
  background-color: $warning;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.a404:hover {
  font-weight: 500;
}

.a404:active {
  width: 4.45rem;
  padding: 0.55rem 0.75rem;
}

.acard {
  width: 5rem;
}
