// main colors
// $blackblue: #273647;
$blackblue: #232f3d;
$darkblue: #384e66;
$medblue: #507094;
$lightblue: #6b96c7;
$white: #ffffff;
$lightgrey: #afbed0;
$brown: #3c4147;
// misc colors
$warning: #ed5760;
$nextblue: #0070f3;
$nextpink: #ef0fff;
$react: #61dafb;
//----------NEW----------//
$blue: #75a2d9;
